<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Image</title>
</head>
<body>
    <h2>File Uploaded Successfully</h2>
    <p>Filename: <strong><%= message %></strong></p>
    <img src="/<%= message %>" alt="uploaded image" width="300"> <br><br>
    <a href="/">Upload Another</a>
</body>
</html>